.footer {
    padding: 40px 40px;
    font-size: 14px;
    color: #7a7691;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links a {
    margin: 0 15px;
    color: #7a7691;
    text-decoration: none;
}
.social-icons img {
    width: 24px;
    margin-left: 10px;
}
@media (max-width: 768px){
    .footersection{
     width: 100% !important;
    }

    .footer {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
        row-gap: 14px;
    }
    .footer-links {
        flex-direction: column; /* Stack links */
        row-gap: 10px;
        column-gap: 10px    ;
        margin-top: 10px;
    }
    .social-icons {
        margin-top: 15px;
    }
    .social-icons img {
        display: inline-block;
        margin: 5px;
    }
}