.hero-section {
  width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    margin: auto;
    background-color: white;
    position: relative;
    height: 80vh;
  }
  
  @media (min-width: 768px) {
    .hero-section {
      flex-direction: row;
    }
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000;
  }
  
  .hero-title span {
    color: #22c55e; /* Green color */
  }
  
  .hero-text {
    font-size: 18px;
    color: #000000; /* Gray color */
    margin-bottom: 1.5rem;
    width: 80%;
  }
  .hero-button-review{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .hero-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease-in-out;
  }
  
  .hero-button:hover {
    background-color: #2563eb;
  }
  .hero-reviews-image-rating{
    display: flex;
  }
  .hero-reviews-images{
    display: flex;
  }
  .hero-review {
    display: grid;
    align-items: center;
    margin-top: 1rem;
  }
  
  .review-stars {
    color: #fbbf24; /* Yellow stars */
    font-size: 1.2rem;
  }
  
  .review-text {
    color: #6b7280;
    margin-left: 0.5rem;
  }
  
  .image-grid {
    width: 50%;

  }
  
  .image-box {
    position: relative;
    width: 100%;
    height: 600px;
  }
  .heroimage{
     width: 100%;
     height: auto;
     position: relative;
  }

  
  @media (min-width: 768px) {
   
  }
  
  @media (max-width:768px) {
    .hero-title{
      font-size: 28px;
    }
    .hero-section{
      width: 100%;
      height: 100%;
      row-gap: 30px;
    }
    .hero-content{
      width: 100%;
        max-width: 90%;
        margin: auto;
    }
    .image-grid{
      width: 100%;
        max-width: 90%;
        margin: auto;
    }
    .hero-text{
      font-size: 16px;
      width: 100%;

